$colors: (
  primary: #7241c2,
  primary-light: #9a67eb,
  primary-dark: rgb(90, 2, 161),
  secondary: #10111f,
  scrollbar: #955eee13,
  scrollbar-thumb: rgb(255, 255, 255),
);

//#28a4ec
//rgb(113, 0, 206)
// #ff009e
